:root{
    --bg-color:  linear-gradient(180deg, #EBF2FC 0%, #EEFBF9 100%), #FFF;
    --border-color:#D6E2F5;
    --text-color:#091540;
    --text-paragraph-color:#535868;
    --article-background-color:#FBFDFE;
    --article-shadow-1:rgba(194, 206, 225, 0.20);
    --article-shadow-2: rgba(194, 206, 225, 0.22);
    --header-shadow-color:#D9E5F4;
    --header-extensions-color:#091540;
    --icon-background:#EEE;

}

body.dark{
    --bg-color:linear-gradient(180deg, #04091B 0%, #091540 100%), #FFF;
    --article-background-color: #202535;
    --text-color: #FBFDFE;
    --text-paragraph-color: #C6C6C6;
    --header-extensions-color: #FFF;
    --border-color: #535868;
    --icon-background: #2F364B;

}


body{
    padding:1.25rem 1rem 4rem 1rem;
    background: var(--bg-color);
}

header{
    display:flex;
    justify-content: left;
    align-items: center;
    gap:0.75rem;
    border-radius:10px;
    border: 1px solid var(--border-color);
    background: var(--article-background-color);
    box-shadow: 0 2px 3px 0 var(--header-shadow-color);
    padding:1rem 0.75rem;
}

body.dark header{
    border:none;
    box-shadow: unset;
}

.logo-wrapper p{
    text-align: center;
    font-family: Geologica;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 31.2px */
    letter-spacing: -0.5px;
    color:var(--bg-color);
}


header button{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    border:none;
    background-color: var(--icon-background);
    border-radius:0.75rem;
    width:50px;
    height:50px;
}

h1{
    margin-top:40px;
    text-align: center;
    /* text-preset-1 */
    font-family: "Noto Sans";
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 34px */
    letter-spacing: -1px;
    color:var(--text-color);
}


.button-choose{
    font-family: "Noto Sans";
    color:var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.3px;
    text-align: center;
    padding: 0.5rem 1.25rem;
    border-radius: 999px;
    border: 1px solid var(--border-color);
    background: var(--article-background-color);
    box-shadow: 0 1px 2px 0 rgba(184, 196, 215, 0.40);

}

.buttons{
    margin-top:1.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.cart-description-wrapper{
    display:flex;
    flex-direction: row;
    justify-content:left;
    gap:1rem;

}



.cart-description-wrapper div p{
    margin-top: 0.5rem;
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.5px;
    color:var(--text-paragraph-color);

}

.logo-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap:0.75rem;
}

.logo-wrapper p{
    color:var(--header-extensions-color);
    font-family: Geologica;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 31.2px */
    letter-spacing: -0.5px;

}



.cart-description-wrapper div h2{
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.2px;
    color:var(--text-color);
}


article{
    padding:1.25rem;
    border-radius:  20px;
    border: 1px solid var(--border-color);
    background:  var(--article-background-color);
    box-shadow: 0 2px 2px 0 var(--article-shadow-1), 0 1px 5px 1px var(--article-shadow-2);
}

.activity{
    padding:0 1.5rem;
}

.chosen{
    background-color: #C7231A;
    color:#FFF;
}


.action{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:1.5rem;
}

.items{
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 0.75rem ;
}



@media (min-width: 1024px){
    h1{
        text-align: left;
    }

    body{
        padding:2.5rem 8.5rem 4rem 8.5rem;
    }
    .items{
        grid-template-columns: repeat(3,1fr);
        row-gap:0.75rem;
        column-gap: 0.75rem;

    }

    .buttons{
        justify-content: right;
        gap:0.75rem;
    }

    .navigation{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cart{
        max-width: 24rem;


    }

    .cart:nth-child(3n + 1){
        justify-self: left;
    }
    .cart:nth-child(3n){
        justify-self: right;
    }

    .cart:nth-child(3n + 2){
        justify-self: center;
    }


}



